* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: #ffffff;
    height: 100vh;
}

body{
	font-size: 1.6rem;
}

a {
    color: #6100EB;
    font-weight: bold;
    text-decoration: none;
}

header {
    background-color: #260178;
    width: 40rem;
    height: 12rem;
    border-radius: 16px;
    display: block;
}

header h1 {
    margin-top: 3.5rem;
    margin-left: 2rem;
    color: #ffffff;
    text-align: center;
}

header p img{
    float: right;
    margin-top: 2rem;
    margin-right: 3rem;
}

p span {
    color: #000000;
}

.produtos p, h3{
    margin-left: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

form .minha-conta-2 input {
    display: block;
}

input.input-text {
    margin: auto;
    width: 25em;
    height: 3em;
    border-radius: 12px;
    border: 1px solid #596273;
    text-indent: 30px;
    margin-bottom: 1rem;
}

button {
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 20rem;
    height: 5rem;
    font-weight: bold;
    border-radius: 16px;
    color: #ffffff;
    border: 1px solid #596273;
    background-color: #47A3A6;
    box-shadow: 0px 2px 5px rgb(110, 110, 110);
}

form button {
    display: block;
}

form img {
    margin-bottom: 2rem;
}

.container h1 span {
    color: #ffffff;
}

h3 {
    color: #6000EA;
}


.produtos img {
    width: 18rem;
    height: 18rem;
    margin: 1.5rem;
}

.produtos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.produtos h3 {
    font-weight: 100;
}

.produtos p {
    color: #AAAAAA;
}

.menu-seta p img{
    float: right;
}

input[type=text] {
    width: 35rem;
    height: 4rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }
  
  /* webkit solution */
  ::-webkit-input-placeholder { 
    font-family: FontAwesome;
    text-align:right; 
    margin-right: 2rem;
  }
  /* mozilla solution */
  input:-moz-placeholder { 
    font-family: FontAwesome;
    text-align:right;
    margin-right: 2rem; 
  }
 
@media (max-width: 640px) {

	header {
        width: 35rem;
        height: 10rem;
        border-radius: 16px;
        margin: 1rem;
        display: block;
    }

    .produtos {
        width: 70%;
    }

}